# H1: Data Science Tools and Ecosystem

*In this notebook, Data Science Tools and Ecosystem are summarized.*

# Some of the popular languages that Data Scientists use are:
1. R
2. Scala
3. Julia

#Some of the commonly used libraries used by Data Scientists include:
- NumPy.
- Keras.
- Pandas.

|Data Science Tools|
|------------------|
|RStudio           |
|Apache Spark      |
|TensorFlow        |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

#This a simple arithmetic expression to mutiply then add integers

In [1]:
# This a simple arithmetic expression to mutiply then add integers

# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

# This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

**Objectives:**

- R
- Scala
- Julia

## Author

Aram Alhadlaq